#imagen_1{
  width: 130px;
  height: 90px;
}
.container-fluid{
  margin: 0%;
  padding: 3%;
}
#imagen_2{
  width: 20px;
  height: 20px;
}
#insta{
  width: 20px;
  height: 20px;

}

#color_1{
  background-color: #FE9A2E;
}
#color_2{
  text-align: center;

}
#color_3{
  background-color:  #FE9A2E;
  text-align: center;
}
#hola{
text-align: right;
}
#orquesta{
 width: 300px;
 height: 200px;

}
#texto2{
	position:right;
}
#per{
  width: 70px;
  height: 50px;
}

#Buscar{
  border-radius: 15px;
}
